 ### 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
imdb = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [3]:
imdb

In [4]:
soup = BeautifulSoup(imdb.content)

In [5]:
names =soup.find_all('td', class_="titleColumn")
movie_name = []
for i in names:
    title = i.find('a').text
    movie_name.append(title)
    
print(movie_name)

['Kantara', 'Ramayana: The Legend of Prince Rama', 'Rocketry: The Nambi Effect', 'Nayakan', 'Anbe Sivam', 'Golmaal', '777 Charlie', 'Jai Bhim', 'Pariyerum Perumal', '3 Idiots', 'Apur Sansar', 'Manichitrathazhu', 'Black Friday', 'Kumbalangi Nights', 'Soorarai Pottru', '#Home', 'Taare Zameen Par', 'C/o Kancharapalem', 'Kireedam', 'Dangal', 'Kaithi', 'Jersey', '96', 'Asuran', 'Thevar Magan', 'Visaaranai', 'Natsamrat', 'Drishyam 2', 'Thalapathi', 'Pather Panchali', 'Sarpatta Parambarai', 'Jaane Bhi Do Yaaro', 'Thani Oruvan', 'Sardar Udham', 'Aparajito', 'Drishyam', 'Vada Chennai', 'Khosla Ka Ghosla!', 'Sita Ramam', 'Ratsasan', 'Chupke Chupke', 'Anniyan', 'Peranbu', 'Mahanati', 'Satya', 'Gangs of Wasseypur', 'Premam', 'Bangalore Days', 'Agent Sai Srinivasa Athreya', 'Super Deluxe', 'Devasuram', 'Drishyam', 'Bhaag Milkha Bhaag', 'Vikram', 'Vikram Vedha', 'Andhadhun', 'Guide', 'Tumbbad', 'Aruvi', 'Kannathil Muthamittal', 'Chithram', 'Zindagi Na Milegi Dobara', 'Shahid', 'Sairat', 'Iruvar', 'Paan Singh Tomar', 'Chhichhore', 'Swades: We, the People', 'Pyaasa', 'Chak De! India', 'Mudhalvan', 'Munna Bhai M.B.B.S.', 'Black', 'Spadikam', 'Uri: The Surgical Strike', 'Jo Jeeta Wohi Sikandar', 'Pudhu Pettai', 'Dhuruvangal Pathinaaru', 'Papanasam', 'Lagaan: Once Upon a Time in India', 'Queen', 'Article 15', 'Talvar', 'Hera Pheri', 'Mandela', 'PK', 'Soodhu Kavvum', 'OMG: Oh My God!', 'Sarfarosh', 'Sholay', 'Udaan', 'Kaakkaa Muttai', 'Jigarthanda', 'Barfi!', 'The Legend of Bhagat Singh', 'Ustad Hotel', 'Theeran Adhigaaram Ondru', 'Rang De Basanti', 'Baahubali 2: The Conclusion', 'Angoor', 'Kahaani', 'Masaan', 'A Wednesday', 'Virumandi', 'Dil Chahta Hai', 'Baasha', 'Maheshinte Prathikaaram', 'Iqbal', 'Shershaah', 'Lage Raho Munna Bhai', 'Jana Gana Mana', 'Roja', 'Pink', 'Anand', 'Pithamagan', 'Nil Battey Sannata', 'Kaun Pravin Tambe?', 'Lucia', 'Charulata', 'Bajrangi Bhaijaan', 'Omkara', 'Section 375', 'Oru Vadakkan Veeragatha', 'Alai Payuthey', 'Bommarillu', 'Bombay', 'K.G.F: Chapter 1', 'Indian', 'Rangasthalam', 'Haider', 'Dilwale Dulhania Le Jayenge', 'The Great Indian Kitchen', 'Mughal-E-Azam', 'Andaz Apna Apna', 'K.G.F: Chapter 2', 'Athadu', 'Maqbool', 'Special Chabbis', 'Maanaadu', 'Vaaranam Aayiram', 'Gulaal', 'Padayappa', 'Thadam', 'Android Kunjappan Version 5.25', 'Ulidavaru Kandanthe', 'Pelli Choopulu', 'Deewaar', 'Company', 'Vaastav: The Reality', 'Ugly', 'Badhaai ho', 'Gully Boy', 'Naduvula Konjam Pakkatha Kaanom', 'Padosan', 'Evaru', 'Kshanam', 'Aadukalam', 'Dev.D', 'My Name Is Khan', 'Maanagaram', 'Nayattu', 'Thondimuthalum Dhriksakshiyum', 'Kal Ho Naa Ho', 'Pranchiyettan and the Saint', 'Major', 'Baishe Srabon', 'Jab We Met', 'Take Off', 'Manjhi: The Mountain Man', 'Ship of Theseus', 'Mukkabaaz', 'Border', 'Ayyappanum Koshiyum', 'Dil Bechara', 'Super 30', 'Garuda Gamana Vrishabha Vahana', 'Vedam', 'Charlie', 'Deiva Thirumagal', 'Arjun Reddy', 'Bãhubali: The Beginning', 'Salaam Bombay!', 'Karnan', 'Padman', 'Ankhon Dekhi', 'Baby', 'M.S. Dhoni: The Untold Story', 'Jalsaghar', 'Vinnaithaandi Varuvaayaa', 'RRR (Rise Roar Revolt)', 'Pizza', 'The Tashkent Files', 'Kirik Party', 'Malik', 'Lakshya', 'English Vinglish', 'Hindi Medium', 'Johnny Gaddaar', 'Hey Ram', 'Dor', 'Airlift', 'Memories', 'Joseph', 'Hridayam', 'Gangaajal', 'Kaakha..Kaakha: The Police', 'Anjaam Pathiraa', 'Vettaiyaadu Vilaiyaadu', 'The Lunchbox', 'Okkadu', 'Ponniyin Selvan: I', 'Ab Tak Chhappan', 'Pokiri', 'Mumbai Police', 'Thuppakki', 'RangiTaranga', 'Unnaipol Oruvan', 'Manam', 'Ghilli', 'Angamaly Diaries', 'Mother India', 'Vicky Donor', 'Oopiri', 'Veer-Zaara', 'Secret Superstar', 'Kaththi', 'Mr. India', 'Rock On!!', 'Nayak: The Real Hero', 'Stanley Ka Dabba', 'Mimi', 'Udta Punjab', 'Sonchiriya', 'Badla', 'Aayirathil Oruvan', 'Happy Days', 'Dasvidaniya', 'Oru CBI Diary Kurippu', 'Raazi', 'Thulladha Manamum Thullum', 'Minnal Murali', 'Kai po che!', 'Dia', 'Poove Unakkaga', 'Goodachari', 'Joji', 'Don', 'Aligarh', 'Ko', 'Guru']

In [6]:
movie_name = movie_name[:100]

In [7]:
rating = []

for i in soup.find_all("td",class_="ratingColumn imdbRating"):
    rating.append(i.text.replace('\n',''))
    
print(rating)

['8.6', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.9', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.8', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.7', '7.6', '7.6', '7.6', '7.6', '7.6']

In [8]:
rating = rating[:100]

In [26]:
yrs =soup.find_all('td', class_="secondaryInfo")
r_yrs= []
for i in names:
    title = i.find('span').text.replace("(","").replace(")","")
    r_yrs.append(title)
    
print(r_yrs)

['2022', '1993', '2022', '1987', '2003', '1979', '2022', '2021', '2018', '2009', '1959', '1993', '2004', '2019', '2020', '2021', '2007', '2018', '1989', '2016', '2019', '2019', '2018', '2019', '1992', '2015', '2016', '2021', '1991', '1955', '2021', '1983', '2015', '2021', '1956', '2013', '2018', '2006', '2022', '2018', '1975', '2005', '2018', '2018', '1998', '2012', '2015', '2014', '2019', '2019', '1993', '2015', '2013', '2022', '2017', '2018', '1965', '2018', '2016', '2002', '1988', '2011', '2012', '2016', '1997', '2012', '2019', '2004', '1957', '2007', '1999', '2003', '2005', '1995', '2019', '1992', '2006', '2016', '2015', '2001', '2013', '2019', '2015', '2000', '2021', '2014', '2013', '2012', '1999', '1975', '2010', '2014', '2014', '2012', '2002', '2012', '2017', '2006', '2017', '1982', '2012', '2015', '2008', '2004', '2001', '1995', '2016', '2005', '2021', '2006', '2022', '1992', '2016', '1971', '2003', '2015', '2022', '2013', '1964', '2015', '2006', '2019', '1989', '2000', '2006', '1995', '2018', '1996', '2018', '2014', '1995', '2021', '1960', '1994', '2022', '2005', '2003', '2013', '2021', '2008', '2009', '1999', '2019', '2019', '2014', '2016', '1975', '2002', '1999', '2013', '2018', '2019', '2012', '1968', '2019', '2016', '2011', '2009', '2010', '2017', '2021', '2017', '2003', '2010', '2022', '2011', '2007', '2017', '2015', '2012', '2017', '1997', '2020', '2020', '2019', '2021', '2010', '2015', '2011', '2017', '2015', '1988', '2021', '2018', '2013', '2015', '2016', '1958', '2010', '2022', '2012', '2019', '2016', '2021', '2004', '2012', '2017', '2007', '2000', '2006', '2016', '2013', '2018', '2022', '2003', '2003', '2020', '2006', '2013', '2003', '2022', '2004', '2006', '2013', '2012', '2015', '2009', '2014', '2004', '2017', '1957', '2012', '2016', '2004', '2017', '2014', '1987', '2008', '2001', '2011', '2021', '2016', '2019', '2019', '2010', '2007', '2008', '1988', '2018', '1999', '2021', '2013', '2020', '1996', '2018', '2021', '1978', '2015', '2011', '2007']

In [27]:
r_yrs = r_yrs[:100]

In [28]:
r_yrs

['2022',
 '1993',
 '2022',
 '1987',
 '2003',
 '1979',
 '2022',
 '2021',
 '2018',
 '2009',
 '1959',
 '1993',
 '2004',
 '2019',
 '2020',
 '2021',
 '2007',
 '2018',
 '1989',
 '2016',
 '2019',
 '2019',
 '2018',
 '2019',
 '1992',
 '2015',
 '2016',
 '2021',
 '1991',
 '1955',
 '2021',
 '1983',
 '2015',
 '2021',
 '1956',
 '2013',
 '2018',
 '2006',
 '2022',
 '2018',
 '1975',
 '2005',
 '2018',
 '2018',
 '1998',
 '2012',
 '2015',
 '2014',
 '2019',
 '2019',
 '1993',
 '2015',
 '2013',
 '2022',
 '2017',
 '2018',
 '1965',
 '2018',
 '2016',
 '2002',
 '1988',
 '2011',
 '2012',
 '2016',
 '1997',
 '2012',
 '2019',
 '2004',
 '1957',
 '2007',
 '1999',
 '2003',
 '2005',
 '1995',
 '2019',
 '1992',
 '2006',
 '2016',
 '2015',
 '2001',
 '2013',
 '2019',
 '2015',
 '2000',
 '2021',
 '2014',
 '2013',
 '2012',
 '1999',
 '1975',
 '2010',
 '2014',
 '2014',
 '2012',
 '2002',
 '2012',
 '2017',
 '2006',
 '2017',
 '1982']

In [30]:
data = {"Movie Name":movie_name,"Rating":rating,"Year of Realase":r_yrs}

In [31]:
imdb_df = pd.DataFrame(data)
imdb_df

                             Movie Name Rating Year of Realase
0                               Kantara    8.6            2022
1   Ramayana: The Legend of Prince Rama    8.5            1993
2            Rocketry: The Nambi Effect    8.4            2022
3                               Nayakan    8.4            1987
4                            Anbe Sivam    8.4            2003
..                                  ...    ...             ...
95                          Ustad Hotel    8.0            2012
96             Theeran Adhigaaram Ondru    8.0            2017
97                      Rang De Basanti    8.0            2006
98          Baahubali 2: The Conclusion    8.0            2017
99                               Angoor    8.0            1982

[100 rows x 3 columns]